* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Apple SD Gothic Neo", "맑은 고딕", "돋움", sans-serif;
}
#container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start; /* section과 aside가 위로 맞닿게 */
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start; /* section과 aside가 위로 맞닿게 */
}
.hamburger img {
  display: none;
  width: 30px;
  height: 30px;
}

.now_menu {
  display: none;
}
/*제목*/

#head-container {
  height: 75px;
  max-width: 1170px;
  margin: 0 auto; /*자동정렬*/
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 15px;
  background-color: #fff;
}

.logo1 {
  display: flex;
  align-items: center;
  margin-left: 60px;
  white-space: nowrap;
}

.logo1 > img {
  height: 40px;
  width: 40px;
}
.logo1 > p span {
  display: block;
  text-align: left;
}
.logo1 > p {
  padding-left: 8px;
}
.everytime {
  line-height: 18px;
  font-size: 12px;
  color: red;
  font-weight: bold;
}
.school {
  color: #292929;
  line-height: 28px;
  font-size: 20px;
}

#menu {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: 0 auto;
}
#menu p {
  font-weight: bold;
}

.logo2 {
  gap: 3px;
  margin-right: 60px;
}
.logo2 img {
  width: 40px;
  height: 40px;
  padding: 8px;
  border: 1px solid #d2d2d2;
  border-radius: 12px;
}

#menu-container {
  background-color: #f2f2f2;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  padding-top: 23px;
  padding-bottom: 18px;
}
#new_menu {
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.line {
  width: 1px;
  height: 200px;
  background-color: #e3e3e3;
  margin-right: 15px;
}

.group {
  min-width: 130px;
  margin-right: 8px;
}
.group ul {
  list-style: none;
}

.group li {
  margin-bottom: 6px;
}

.group li a {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #444444;
  font-size: 13px;
  padding-right: 10px;
}
.group li.now a,
.group li.other a,
#menu .now {
  color: #f14141;
  font-weight: bold;
}

section {
  padding: 25px;
  width: 780px;
}

.main-title {
  border: 1px solid #d6d6d6;
  height: 60px;
  padding: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.main-title > h1 > a {
  font-size: 22px;
  font-weight: bold;
  color: black;
}

a span {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*-----------------------------*/
article {
  border: 1px solid #e3e3e3;
  padding: 15px;
  padding-bottom: 0;
}

.article,
.title {
  width: 100%;
}

.box-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main_profile > img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin: 0 10px 15px 0;
}
.main_profile {
  display: flex;
  flex-direction: row;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
}
.time {
  color: #a6a6a6;
  font-size: 15px;
}
.name {
  font-weight: bold;
  font-size: 18px;
}
.etc {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 50px;
}
.etc a {
  color: #a6a6a6;
}

.contents a {
  color: #666;
  font-size: 18px;
}
.contents {
  padding-bottom: 15px;
  color: #444444;
  font-size: 16px;
}

.content_img {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15px;
  width: 100%;
  gap: 5px;
}

.content_img img {
  height: 250px;
  width: 250px;
}

.star {
  color: #ffc900;
}
.box > .info {
  font-size: 15px;
  gap: 10px;
}

.box .info {
  font-size: 12px;
  padding-bottom: 15px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons button {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-size: 12px;
  color: #737373;
  font-weight: bold;
}

.buttons button img {
  width: 13px;
  height: 13px;
}

.box2 {
  border-top: 1px solid #e3e3e3;
  margin: 0 -15px; /* article padding만큼 좌우 늘리기 */
  padding: 10px;
  background-color: #f8f8f8;
  height: 40px;
  padding-right: 0;
}

.write {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  justify-content: space-between;
}

.write .input {
  border: none;
  background: transparent;
  outline: none;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.box2 img {
  height: 40px;
  width: 40px;
  background-color: #f91f15;
}
.right button {
  border: none;
}
.no_name {
  font-size: 12px;
  color: #a6a6a6;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

.content_list {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  outline: none;
}

.content_list button {
  height: 35px;
  width: 80px;
  border: 1px solid #f91f15;
  background-color: #fff;
  border-radius: 4px;
  color: #f91f15;
  font-weight: bold;
}
.content_list img {
  height: 10px;
  width: 10px;
  margin-right: 5px;
}

/*----------------------*/
aside {
  width: 330px;
  display: flex;
  flex-direction: column;
  padding: 25px 0;
}

.board {
  border: 1px solid #d6d6d6;
  margin-bottom: 5px;
  background-color: #f9f9f9;
}

.board > h2 {
  height: 40px;
  font-size: 14px;
  color: #005bac;
  display: flex;
  align-items: center;
  padding: 10px;
}

.board-title {
  /* board-title은 board의 제목이면서 a를 가지는 것일 때 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.board-title a {
  font-size: 14px;
  color: #005bac;
  font-weight: bold;
}

.board-title a.more {
  font-size: 12px;
  color: #999;
  font-weight: normal;
}

.board-in {
  display: block;
  padding: 10px;
  text-decoration: none;
  border-top: 1px solid #e3e3e3;
  white-space: nowrap;
}

.board-in .title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
  color: #444;
}

.board-in .content {
  font-size: 11px;
  color: #444;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board-in .content2 {
  display: flex;
  align-items: center;
  font-size: 11px;
  height: 14px;
}

.board-in .content2 h4 {
  color: #a6a6a6;
  margin-right: 10px;
  font-weight: bold;
}

.info {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 6px;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.info li {
  display: flex;
  align-items: center;
  gap: 2px;
}

.small-line {
  height: 9px;
  border-left: 1px solid #d6d6d6;
  width: 4px;
}

.gray {
  color: #999;
}
.info img {
  height: 12px;
  width: 12px;
}
.vote {
  color: #f91f15;
}
.count {
  color: #05bcbc;
}

/*---------------------------------------*/
aside a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #444444;
  font-size: 14px;
  padding: 10px;
}

aside a .time {
  font-size: 11px;
  color: #a6a6a6;
}

.hot-board {
  border-top: 1px solid #e3e3e3;
}

.star5 img {
  width: 60px;
  height: 12px;
}

@media screen and (max-width: 640px) {
  aside {
    display: none;
  }
  .side-box {
    display: none;
  }

  .container {
    flex-direction: column;
    align-items: stretch;
  }

  .hamburger img {
    display: block;
    margin-left: 20px;
  }

  .logo1,
  #menu,
  .logo2 {
    display: none;
  }

  #head-container {
    height: 50px;
  }
  #menu-container {
    padding-top: 23px;
    padding-bottom: 0;
  }

  .now_menu {
    display: block;
  }

  .main-title {
    display: none;
  }

  section {
    padding: 0;
    margin-top: 5px;
  }

  .group li a {
    font-size: 12px;
  }
}
